*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

.navbar{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgba(0,0,0,0.5);
    position:sticky;
    top:0;
}

.span{
    color:aqua;
}

.navbar ul{
    display:flex;
    list-style:none;
    margin:20px 0px;
}

.navbar ul li{
    font-family:century;
    font-size:1.5rem;
    font-weight:bold;
}

.navbar ul li a{
    text-decoration:none;
    color:white;
    padding:8px 25px;
    transition:all .5s ease;
}

.navbar ul li a:hover{
    background-color:red;
    color:black;
    box-shadow: 0 0 10px red;
}

.wrapper{
    padding-inline: 10vw;
}
.featured-box{
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}

.featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
}

.featured-image{
    display: flex;
    justify-content: right;
    align-content: center;
    min-height: 80vh;
    width: 50%;
}
.image{
    margin: auto 0;
    width: 380px;
    height: 380px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
}
.image img{
    width: 380px;
    height: 380px;
    object-fit: cover;
}

.featured-name{
    font-size:50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:red;
}

.btn{
    width:100px;
    height:40px;
    border-radius:20px;
    box-shadow: 0 0 5px red;
    background-color:red;
    color:white;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top:10px;
    text-decoration:none;
}

.btn a{
    color:white;
    text-decoration: none;
}

footer{
    background-color:#111;
}

.footercont{
    width:100%;
    padding:70px 30px 20px;
}

.icons{
    display:flex;
    justify-content:center;
}

.icons a i{
    font-size:2em;
    color:white;
    opacity:0.9; 
}

.items a:hover{
    background-color: red;
    transition:0.5s;
}


.items a:hover i{
    color:red;
    transition:0.5s;
}

.footernav{
    margin:30px 0;
}

.footernav ul{
    display:flex;
    justify-content:center;
}


.footernav ul li{
    display:flex;
    justify-content:center;
}

.footernav ul li a{
    color:white;
    margin:20px;
    text-decoration:none;
    font-size:1.3rem;
    opacity:0.7;
    transition:0.5s;
}

.footerbottom{
    background-color: #000;
    padding:20px;
    text-align:center;
}

.footerbottom p{
    color:white;
    
}